@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Special+Elite:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
	font-family: 'Special Elite', monospace;
	line-height: 1.5;
	font-weight: 400;
	color-scheme: light dark;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	box-sizing: border-box;
	transition-property: all;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.language-btn {
	cursor: pointer;
	display: flex;
	column-gap: 8px;
}

.language-select {
	position: absolute;
	right: 0px;
	top: 36px;
	z-index: 1;
	display: flex;
	flex-direction: column;
	row-gap: 8px;
}

